*.so.*
credentials
__pycache__
.vscode

build
*.egg-info
.*cache
*.tif
*.vrt
.data
.TMP
*.gpkg
*.ovr

# QGIS xml files
*.aux.xml

# pickle files
*.pkl

# include test data files
!dem_comparison/data/*.gpkg

# include test notebooks and files
!test_notebooks/*.ipynb
!test_notebooks/*.py

# ignore secret files
*.secret

# ignore notebooks
*.ipynb

# temporary files
temp/*