*.so.*
credentials
__pycache__
.vscode

build
*.egg-info
.*cache
*.tif
*.vrt
.data
.TMP
*.gpkg

# QGIS xml files
*.aux.xml

# pickle files
*.pkl

# include test data files
!dem_comparison/data/*.gpkg

# ignore secret files
*.secret

# ignore notebooks
*.ipynb